h4 {
	margin-bottom: 5px;
	font-weight: normal;
}

p {
	margin-bottom: 10px;
}



.caption {
	color: #999;
	font-size: 12px;
}

.content-holder {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 10px;
    background: rgba(0,0,0,.5);
    color: #fff;
}



/* media queries */
@media (max-width: 600px) {
	.flex-row {
		flex-direction: column;
	}
}