html {
	box-sizing: border-box;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

*, *:before, *:after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 5px;
}

p {
	margin-bottom: 10px;
}

img {
	width: 100%;
	border: 1px solid #666;
	margin-bottom: 10px;
}

ul {
	margin-bottom: 20px;
}

i {
	display: block;
	text-align: center;
	color: #f80;
	font-size: 80px;
	text-shadow: 2px 2px 2px #000;
}

.flex-container {
	margin: 0 auto;
}

.flex-row {
	display: flex;
}

.fixed-size {
	height: 250px;
	// align-items: center;
 //    justify-content: space-around;
    // flex-wrap: wrap;
}

.fixed-size>div {
	width: 150px;
	margin: auto;
	background: #2a2a2a;
	text-align: center;
}