h2 {
	margin-bottom: 5px;
}

.flex-container {
	width: 90%;
	margin: 0 auto;
}

.flex-row {
	display: flex;
	margin-bottom: 20px;
	color: #5995DA;
	background-color: #d6e9fe;
}

.flex-row.center {
	justify-content: center;
}

.flex-row.flex-start {
	justify-content: flex-start;
}

.flex-row.flex-end {
	justify-content: flex-end;
}

.flex-row.space-around {
	justify-content: space-around;
}

.flex-row.space-between {
	justify-content: space-between;
}

.flex-item {
	width: 200px;
	padding: 1.25rem;
	background: #fff;
	border: 0.0625rem solid #003264;
}




