/* rem sizes:
40px = 2.5rem
30px = 1.875rem
20px = 1.25rem

16px = 1rem
15px = .9375rem
14px = 0.875rem
13px = 0.8125rem
12px = 0.75rem
10px = 0.625rem
5px = 0.3125rem
4px = 0.25rem

1px = 0.0625rem */

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

img {
	width: 20rem;
}

p {
	margin-bottom: 0.625rem;
}