.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom:  1.875rem;
	border: 1px dotted #fff;
}

.flex-item {
	flex-grow: 1;
	padding: 1.25rem;
	background: rgba(255,255,255,.5);
	border: 0.0625rem solid #222;
	text-align: center;
}

.flex-item:nth-of-type(3) {
	flex-grow: 2;
}