.container {
	width: 90%;
    margin: 0 auto;
    padding: 1.25rem;
    background-color: #fff;
}

.row {
	display: flex;
}

.wrap {
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.wrap-reverse {
	-ms-flex-wrap: wrap-reverse;
	flex-wrap: wrap-reverse;
}

article {
	padding: 4.0rem;
	background: #ae0000;
	border: 0.0625rem solid #000;
	color: #fff;
	font-size: 2.5rem;
}