<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="">
		<meta name="author" content="">

		<title>Interfaces - Flexbox</title>
		<link href="../../css/layouts.css" rel="stylesheet">
		<link href="../../css/displays.css" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Average" rel="stylesheet">
	</head>

	<body data-theme="home">
		<div class="container">
            <header>
                <h2>Layouts</h2>
            </header>
			<div class="grid" data-layout="" data-col="3">
				<article class="panel">
					<h3>Layouts</h3>
					<ul>

					</ul>
				</article>
			</div>
		</div>
	</body>
</html>